gosnmptrap v3 listener does not work with auth

 Similar to https://github.com/gosnmp/gosnmp/issues/183
 
Basically, if you run the example from issue 183 on latest version >= 1.26.0 you get `UnmarshalTrap v3 auth: Incoming packet is not authentic, discarding`

on version = 1.25.0 it works as expected

Hi, any progress on this issue?

I have the same issue ... any idea ?

I did not study all the source code but it seems there are some missing steps when [calculating the digest for incoming messages in SNMPv3.](https://github.com/gosnmp/gosnmp/blob/e12c85ab748afd123532242258d3de6101a9341c/v3_usm.go#L624)

According to [RFC3414 - 6.3.2](https://tools.ietf.org/html/rfc3414#section-6.3.2), for MD5 steps would be : 

>    1) If the digest received in the msgAuthenticationParameters field is
>       not 12 octets long, then an failure and an errorIndication
>       (authenticationError) is returned to the calling module.
> 
>    2) The MAC received in the msgAuthenticationParameters field is
>       saved.
> 
>    3) The digest in the msgAuthenticationParameters field is replaced by
>       the 12 zero octets.
> 
>    4) From the secret authKey, two keys K1 and K2 are derived:
> 
>       a) extend the authKey to 64 octets by appending 48 zero octets;
>          save it as extendedAuthKey
> 
>       b) obtain IPAD by replicating the octet 0x36 64 times;
> 
>       c) obtain K1 by XORing extendedAuthKey with IPAD;
> 
>       d) obtain OPAD by replicating the octet 0x5C 64 times;
> 
>       e) obtain K2 by XORing extendedAuthKey with OPAD.
> 
>    5) The MAC is calculated over the wholeMsg:
> 
>       a) prepend K1 to the wholeMsg and calculate the MD5 digest over
>       it;
> 
>       b) prepend K2 to the result of step 5.a and calculate the MD5
>       digest over it;
> 
>       c) first 12 octets of the result of step 5.b is the MAC.
> 
>       The msgAuthenticationParameters field is replaced with the MAC
>       value that was saved in step 2.
> 
>    6) Then the newly calculated MAC is compared with the MAC saved in
>       step 2.  If they do not match, then an failure and an
>       errorIndication (authenticationFailure) is returned to the calling
>       module.
> 
>    7) The authenticatedWholeMsg and statusInformation indicating success
>       are then returned to the caller.

According to [RFC7860 4.2.2](https://tools.ietf.org/html/rfc7860#section-4.2.2), for SHA steps would be : 

>    1.  If the digest received in the msgAuthenticationParameters field
>        is not N octets long, then a failure and an errorIndication
>        (authenticationError) are returned to the calling module.
> 
>    2.  The MAC received in the msgAuthenticationParameters field is
>        saved.
> 
>    3.  The digest in the msgAuthenticationParameters field is replaced
>        by the N zero octets.
> 
>    4.  Using the secret authKey of M octets, the HMAC is calculated over
>        the wholeMsg according to RFC 6234 with hash function H.
> 
>    5.  The N first octets of the above HMAC are taken as the computed
>        MAC value.
> 
>    6.  The msgAuthenticationParameters field is replaced with the MAC
>        value that was saved in step 2.
> 
>    7.  The newly calculated MAC is compared with the MAC saved in step
>        2.  If they do not match, then a failure and an errorIndication
>        (authenticationFailure) are returned to the calling module.
> 
>    8.  The authenticatedWholeMsg and statusInformation indicating
>        success are then returned to the caller.

I investigate a little more and start to make a fix (can be visible on my fork)

- Implementation of RFC7860 4.2.2 : OK
- Implementation of RFC3414 6.3.2 and 7.3.2 : Removed ...
- Not using the secret (or auth) key calculated before when receiving traps.

This fix is in progress (and tested against net-snmp and a product). I need to re-read my work before submitting a pull-request


Thanks for your help @ygbillet 